body {
    background-color: #000022;
    font-family: 'Poppins', sans-serif;
    color: #a1a6b4;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #94c5cc;
}

.title-muted {
    color: #a8bfc3;
}